<!-- <nz-header>
  <div class="logo">
    <img src="https://www.udemy.com/staticx/udemy/images/v6/logo-coral.svg" alt="" class="imageClass">
  </div>
</nz-header> -->


<ul>
  <li><a class="active" href="#home"> <img src="https://www.udemy.com/staticx/udemy/images/v6/logo-coral.svg" alt="" class="imageClass"></a></li>
  <li><a class="headerLinks" href="#news">Categories</a></li>
  <li>
    <form class="searchBar">
      <button type="submit" class="searchIcon"><i nz-icon nzType="search"  nzTheme="outline"></i></button>
      <input class="searchBarInput"type="text" placeholder="Search.." name="search">
    </form>
  </li>
  <li><a class="headerLinks" href="#about">Udemy for Business</a></li>
  <li><a class="headerLinks" href="#about">Tech on Udemy</a></li>
  <li><a class="headerLinksImage" href="#">Cart</a></li>
  <li><button nz-button nzType="default" >Log in</button></li>
  <li><button type="button" class="signUpButton">Sign Up</button></li>
</ul>
