<div class="shortbanner">
  <div class="learningGoals">
   <h2>What you'll Learn</h2>
 <div class="learnings">
   <div class="content1">
     <ul class="boxingUl"><i nz-icon nzType="check" nzTheme="outline"></i>   <div><span>Create any website layout you can imagine</span></div></ul>
     <ul class="boxingUl"><i nz-icon nzType="check" nzTheme="outline"></i>   <span>  Add tasteful animations and effects with CSS3</span></ul>
   </div>
   <div class="content2">
     <ul class="boxingUl"><i nz-icon nzType="check" nzTheme="outline"></i>   <span>  Support any device size with Responsive (mobile-friendly) Design</span></ul>
     <ul class="boxingUl"><i nz-icon nzType="check" nzTheme="outline"></i>   <span>  Use common vocabulary from the design industry</span></ul>
   </div>
  </div>
 </div>

  <div class="businessDiv">
   <img src="../../../assets/icons/udemy.png" alt="" class="imageClass">
   <h3>Curated for the <a href="#">Udemy for Business</a> collection</h3>
  </div>
</div>


