<div class="mainContainer">
  <h2>Requirements</h2>
 <div class="courseRequire" *ngFor="let item of this.course.requirements">
    <li><span>{{item}}</span></li>
 </div>
 <div class="adPanel">
  <h3>Top Companies buy Udemy</h3>
  <span>Get your team access to Udemy's top 5,000+ courses</span>
  <div class="imagePanel">
    <img src="https://s.udemycdn.com/partner-logos/lyft-logo.svg" class="image"  alt="lyft logo">
    <img src="https://s.udemycdn.com/partner-logos/adidas-logo.svg" class="image"  alt="adidas logo">
    <img src="https://s.udemycdn.com/partner-logos/eventbrite-logo.svg" class="imageEventBrite"  alt="eventbrite logo">
    <img src="https://s.udemycdn.com/partner-logos/surveymonkey-logo.svg" class="imageSurvey"  alt="survey monkey logo">
    <img src="https://s.udemycdn.com/partner-logos/booking-logo.svg" class="imageEventBrite"  alt="booking logo">
  </div>
  <button nz-button nzType="default">Try Udemy for Business</button>
 </div>

</div>
